.container {
	width: 1100px;
}

.menu {
	padding-top: 10px;
}

.menu li {
	padding-right: 15px;
}

.intro {
	padding: 20px 0 0 30px;
}

.rules {
	display: hidden;
}

.footer {
	background-color: #f6f6f6;
	padding-top: 5px;
}